* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }


body {
  background-color: #eae4dc;
  font-family: sans-serif,'Cormorant', serif; 
}


/* Logo */
.logo {
  display: flex;
  justify-content: center;
  padding: 15px;
}



/* Navigation */

a:link {
    text-decoration: none;
    margin: 5px;
    color: #44623f;
}

a:visited {
    text-decoration: none;
    margin: 5px;
    color: #7da391;
}

a:hover {
    text-decoration: none;
    margin: 5px;
    color: #526f50;
}

/* a:active {
    text-decoration: none;
    margin: 5px;
    color: #8b8b8b;
} */


.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px;
}

.nav-item {
  font-size: 1.5rem;
}


/* Home */
.home {
  position: relative;
}

.home-bg {
  display: flex;
  filter: contrast(.7);
}

.home-bg-img {
  flex-grow: 1;
  height: 70vh;
  object-fit: cover;
}

.home-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  align-content: center;
  font-size: 3rem;
  flex-wrap: nowrap;
  line-height: 2;
}

/* Subject Section */
.subject-container {
  display: flex;
  justify-content: space-between;
}

.subject-item {
  align-self: stretch;
  flex-grow: 1;
  padding: 15px;
}




/* Solid border */
.divider {
  border-top: 1.5px solid #ababab;
  margin: 15px;
}