* {
    margin: 0;
    padding: 0; }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit; }
  
  html {
    box-sizing: border-box; }
    @media (max-width: 75em) {
      html {
        font-size: 75%; } }
    @media (max-width: 56.25em) {
      html {
        font-size: 60%; } }
    @media (min-width: 112.5em) {
      html {
        font-size: 90%; } }
  
  body {
    background-color: #f9faf6;
    font-family: 'Cormorant', serif; }
  
  a:link {
    text-decoration: none;
    margin: 5px;
    color: #1f1d1d; }
  
  a:visited {
    text-decoration: none;
    margin: 5px;
    color: #1f1d1d; }
  
  a:hover {
    text-decoration: none;
    margin: 5px;
    color: #1f1d1d; }
  
  a:active {
    text-decoration: none;
    margin: 5px;
    color: #1f1d1d; }
  
  .btn {
    width: 180px;
    height: 45px;
    cursor: pointer;
    background: none;
    border: 1px solid #ffffff;
    outline: #ffffff;
    margin: 15px;
    padding: 10px; }
  
  .btn:hover {
    transition: .3s ease-in-out;
    background: #ffffff50;
    border: 2px solid #ffffff; }
  
  .btn span {
    color: white;
    font-size: 18px;
    font-weight: 100; }